<nav>
    <ul>
        <li><a href="/manager/all_jobs">All Jobs</a></li>
        <li><a href="/manager/jobsByYou">My Jobs</a></li>
        <li><a href="/manager/create_job">Create Job</a></li>
        <li><a href="/manager/applications">Applications</a></li>
        <li><a href="/manager/profile">My profile</a></li>
        <li id="logout"><a href="/logout">Logout</a></li>
    </ul>
</nav>