<h1 style=" color: white; 
    background-repeat: no-repeat; 
    background-size: cover; text-shadow: 1px 2px 5px cadetblue;
     letter-spacing: 2px; 
     text-align: center; padding: 20px; 
     background-color: rgb(216, 191, 216,0.6); 
     box-shadow: 10px 2px 0px gray; 
     margin-top: 10px;"> MANAGER's PORTAL </h1>

<%- include("_table") %>